.cards {
    /* background-image: url("./forestroad2.jpg"); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div.trip-info {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 22vh;
}

html, body {
    /* background: url("./pic1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; */

    background: url(./pic2.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}


.cards .card {
    width: 30%;
    margin: 1rem 0;
}

header#burly nav.navbar {
    background-color: #4d351f;
}

.logo {
    color: burlywood;
    display: inline;
}

.info {
    margin-right: 1rem;
}
.trip-name {
    color: white;
    text-shadow: 2px 1px black;
}

.page-header {
    text-align:center;
    color: white;
    text-shadow: 2px 1px black;
    margin-top: 1rem;
    margin-bottom: 0;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

footer p {
    font-size: 1.25rem;
    text-align: right;
    margin-right: 1rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
.render-delete {
    height: 100%;
    padding: 2.5rem;
  }

#map {
    height: 80%;
    width: 100%;
  }

  #map2 {
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .flexy {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
  }

  #camp {
      border-radius: 1rem;
      background-color: #4d351f;
      padding: 1rem;
      margin-top: 1rem;
  }
  /* #toggle-map {
      border: 1px solid black;
      text-align: right;
  } */
  /* .toggle-buttons {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
  } */
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  
  #right-panel select, #right-panel input {
    font-size: 15px;
  }
  
  #right-panel select {
    width: 100%;
  }
  
  #right-panel i {
    font-size: 12px;
  }
  #right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
  }
  #map2 {
    margin-right: 400px;
  }
  #floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
  }
  @media print {
    #map2 {
      height: 500px;
      margin: 0;
    }
    #right-panel {
      float: none;
      width: auto;
    }}