.cards {
    /* background-image: url("./forestroad2.jpg"); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div.trip-info {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 22vh;
}

body {
    /* background-image: url("./forestroad2.jpg"); */
}

.cards .card {
    width: 30%;
    margin-bottom: 1rem;
}

header#burly nav.navbar {
    background-color: burlywood;
}

.info {
    margin-right: 1rem;
}

.page-header {
    text-align:center;
    background-color: white;
    
    margin-bottom: 0;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

footer p {
    font-size: 1.25rem;
    text-align: right;
    margin-right: 1rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
.render-delete {
    height: 100%;
    padding: 2.5rem;
  }

#map {
    height: 80%;
    width: 90%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .flexy {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
  }

  #camp {
      border: 1px solid black;
      border-radius: 1rem;
      background-color: burlywood;
      padding: 1rem;
      margin-top: 1rem;
  }
  /* #toggle-map {
      border: 1px solid black;
      text-align: right;
  } */
  /* .toggle-buttons {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
  } */